{# 加载模板tag #}
{% load blog_extras %}
<div class="content">
    <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
    <div class="meta">
        <span class="date moment">{% datetimeformat article.pub_time %}</span>
        <span class="categories"><a href="#">{{ article.category.name }}</a></span>
        <span class="author">Liseen</span>
    </div>
    {% if isindex %}
        {{ article.body|custom_markdown|truncatechars_content }}
        <a href="{{ article.get_absolute_url }}" class="more">Continue reading</a>
    {% else %}
        {{ article.body|custom_markdown }}
    {% endif %}
</div>