<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="liseen">
    <meta name="description" content="{{ SITE_KEYWORDS }}">
    <link rel="icon" href="static/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="static/favicon-16x16.png" sizes="16x16">
    <title>{{ SITE_NAME }}</title>
    <link rel="stylesheet" href="static/styles/theme.css?8cdfbc27b0">
</head>
<body class="abianji-root">
    {% block topnav %}
    {% endblock %}
    {% block header %}
    {% endblock %}
    <div class="main container">
        {% block main %}

        {% endblock %}
    </div>
    {% block footer %}
    {% endblock %}
</body>
</html>