{% load blog_extras %}
<footer>
    <div class="container">
        {% load_recentposts %}
        {% load_categories %}
        <div class="right">
            <div class="external-profiles">
                <strong>Social media</strong>
                <a href="https://www.instagram.com/liusong850315/" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="https://github.com/liseen315" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>